*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.container{
    margin: 15px;
}
header{
    height: 200px;
    background-color: yellow;
}
main{
    margin: 10px 0;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.col-left{
    float: left;
}
.container main aside{
    width: 30%;
    height: 350px;
    background-color: violet;
}
.container main section.main{
    width: calc(40% - 40px);
    height: 500px;
    background-color: pink;
    margin: 0 20px;
}
footer{
    height: 318px;
    background-color:cornflowerblue ;
}